<div class="two-block-end">
  <div class="block-item">
    <a href="{{ section.settings.url1 }}">
      <span class="wrapper-img"><span class="wrapper-img-chill">
        <img class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" data-src="{{ 'end2.jpeg' | asset_url }}" alt/>
        </span>
      </span>
      <div class="caption-block">
        <h4>Find Your Perfect Blanket</h4>
        <p>Take the 3-step quiz now and find your blanket</p>
      </div>
    </a>
  </div>
  <div class="block-item">
    <a href="{{ section.settings.url2 }}">
      <span class="wrapper-img"><span class="wrapper-img-chill">
        <img class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" data-src="{{ 'end1.jpeg' | asset_url }}" alt/>
        </span>
      </span>
      <div class="caption-block">
        <h4>Shop Now</h4>
        <p>Take the 3-step quiz now and find your blanket</p>
      </div>
    </a>
  </div>
</div>


{% schema %}
  {
    "name": "Home End",
    "class": "index-section index-custom-end",
    "settings": [
	{
      "type": "text",
      "id": "section_title",
      "label": "Heading"
    },
{
      "type": "text",
      "id": "url1",
      "label": "Url - Block 1"
    },
{
      "type": "text",
      "id": "url2",
      "label": "Url - Block 2"
    }
    ],
	"presets": [
      {
        "name": "Home End",
        "category": "Custom"
      }
    ]
  }
{% endschema %}
