{% layout none %}<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html" charset="utf-8" />
<meta property="fb:app_id" content="424426844274364"/>

<meta property="og:url" content="https://app.viralsweep.com/sweeps/full/03d725-31464&amp;framed=1"/>
<meta property="og:type" content="article"/>
<meta property="og:title" content="$1,500 Weighted Blanket Giveaway"/>
<meta property="og:image" content="https://res.cloudinary.com/viralsweep/image/upload/v1519406981/t54p4mqf5rhchfioglnc.jpg"/>
<meta property="og:site_name" content="$1,500 Weighted Blanket Giveaway"/>
<meta property="fb:admins" content="1088490351"/>
<meta property="fb:admins" content="11512735"/>
<meta property="fb:admins" content="1088490312"/>
<meta property="og:description" content="1) One First Prize Winner will receive five (5) Weighting Comforts weighted blankets, valued at $1,000 for themselves and their loved ones!2)&nbsp;Five (5) Second Prize Winners will receive a $100 gift card to the Weighting Comforts store.3)&nbsp;Every email entry will receive a $25 gift card towards the Weighting Comforts store.Our weighted blankets help reduce anxiety and improve the user's sleep by naturally increasing your body's serotonin. Each weighted blanket is sewn by refugees in Nashville, TN to provide income for their families. We provide just wages and english classes to promote the importance of our biggest core value; People First."/>
<title>$1,500 Weighted Blanket Giveaway</title>
<style type="text/css">
body { border: 0; margin: 0; padding: 0; }
</style>

<meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, width=device-width" />
<meta name="apple-mobile-web-app-capable" content="yes" />

</head>
<body style="margin:0px;padding:0px;">
<div id="vsscript_31464_128493"></div>
<script async type="text/javascript" src="https://app.viralsweep.com/vsa-full-03d725-31464.js?sid=31464_128493"></script>
</body>
</html>