{% layout none %}<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html" charset="utf-8" />
<meta property="fb:app_id" content="424426844274364"/>

<meta property="og:url" content="https://www.weightingcomforts.com/pages/wellness-giveaway"/>
<meta property="og:type" content="article"/>
<meta property="og:title" content="$500 Wellness Kit Giveaway!"/>
<meta property="og:image" content="https://res.cloudinary.com/viralsweep/image/upload/v1526842313/dctwvgazpubfubpuumtg.jpg"/>
<meta property="og:site_name" content="$500 Wellness Kit Giveaway!"/>
<meta property="fb:admins" content="1088490351"/>
<meta property="fb:admins" content="11512735"/>
<meta property="fb:admins" content="1088490312"/>
<meta property="og:description" content="May is Mental Health Awareness Month in the United States. Every year, Mental Health America provides awareness, knowledge, helpful tips and informational guides on mental health. This year, there is a special focus on Fitness &amp; Mental Health. Weighting Comforts along with Love Everywhere, Good Good Good Co., and Thistle Farms want to give one (1) person the chance to win a complete wellness kit worth over $500!&nbsp;In the wellness kit, you will find: Dr. Teal's Epsom Salt 3lb bags: "Relax &amp; Relief" and "Soothe &amp; Sleep," Thistle Farms essential oils, 4 issues of the Goodnewspaper (and a note from Branden Harvey), BYTA water bottle in 'moon,' hardcover A4 (8.3x11.4") ruled journal, 2 Pilot 0.7mm pens (in black), Liviing in Color Art Therapy coloring book and colored pencils, Love Everywhere keychain, stickers, tote bag and encouragement cards, rose quartz, lepidolite, amethyst crystals and any Weighting Comforts weighted blanket."/>
<title>$500 Wellness Kit Giveaway!</title>
<style type="text/css">
body { border: 0; margin: 0; padding: 0; }
</style>

<meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, width=device-width" />
<meta name="apple-mobile-web-app-capable" content="yes" />

</head>
<body style="margin:0px;padding:0px;">
<div id="vsscript_36263_964207"></div>
<script async type="text/javascript" src="https://app.viralsweep.com/vsa-full-f638c6-36263.js?sid=36263_964207"></script>
</body>
</html>